<!DOCTYPE html>
<html>
  <head>
    <title>MapMyWalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.ash_yo = "<%= image_url('ash_yo_front_page.PNG') %>";
      window.mmrlogo = "<%= image_url('mmrlogo.png') %>";
      window.routesidebar = '<%= image_url('route-side-bar-placeholder.png') %>';
      window.mapplaceholder = '<%= image_url('map-placeholder.png') %>';
      window.cy_profile_pic = '<%= image_url('cy-profile-pic.jpg') %>';
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>";
    </script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'email': '<%= current_user.email %>',
          'first_name': '<%= current_user.first_name %>',
          'last_name': '<%= current_user.last_name %>',
        }; 
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
